<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WALMART_BASE_URL</key>
	<string>https://api.walmartlabs.com/</string>
	<key>WALMART_API_CLIENT_ID</key>
	<string>axuynemurtktrz6u55qznpzc</string>
</dict>
</plist>
